.list-autor{
    max-width: 253px;
    height: 253px;
    display: flex;
    flex-direction: column;
    padding: 12px 0px 12px 20px;
    gap: 20px;
}

.name-autor{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    max-width: 119px;
    color: #000000;
}

.login-autor{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #366AF3;
}

.subscrib{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #000000
}

.record{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}

#autor-select{
    width: 100%;
    border: 1px solid #624C90;
    border-radius: 5px;
    padding: 10px;
}
